<html>
<head>
	  <link rel="stylesheet" type="text/css" href="css/style.css">
		<style>
			#TB_title {font-weight:bold;}
		</style>
</head>
<body style="padding:25px 25px 0 25px;font-size:12px;">
<p>Notice: During the week commencing 23 May 2011, we will be upgrading the Reporting area within your ARL National database. This upgrade will feature a new layout as well as the ability to edit saved reports.<br>Any questions should be directed to a member of the LeagueNet team. For contact details go to www.help.leaguenet.com.au</p>
<br>
<form action="" method="GET" target="rptpage">

<div style="float:left;">
	<input type="button" onclick="window.open('http://blog.sportingpulse.com/2011/05/new-look-for-membership-reporting.html','rptinfo');" value="More Information" style="background-color:#1f497d;color:#fff;border:#152d4b;padding:4px;width:140px;">
</div>
<div style="float:right;">
	<input type="button" value="Ignore" style="background-color:#1f497d;color:#fff;border:#152d4b;padding:4px;width:140px;" onclick="self.parent.tb_remove();">
</div>

</form>

</body>
</html>
