<html>
<head>
	  <link rel="stylesheet" type="text/css" href="css/style.css">
		<style>
			#TB_title {font-weight:bold;}
		</style>
</head>
<body style="padding:10px 20px 0 20px;font-size:14px;background:#fff;">
<div class = "sectionHeader">Live Score</div>

<p>This season the URL for accessing Live Score has changed. Please visit results.foxsportspulse.com in your mobile device's Internet browser to use this product.<p>
<p>For more information visit:<p>
<p><a href="https://sportingpulse.zendesk.com/entries/23072877-SP-Competitions-Accessing-LiveScore" target="_blank">Competitions Accessing Live Score</a></p>
<div style="float:right;">
	<input type="button" value="Close" class = "button generic-button" onclick="self.parent.tb_remove();">
</div>
</div>

</body>
</html>
