<html>
<head>
	  <link rel="stylesheet" type="text/css" href="css/style.css">
		<style>
			#TB_title {font-weight:bold;}
		</style>
</head>
<body style="padding:10px 20px 0 20px;font-size:14px;background:#fff;">
<div class = "sectionHeader">Welcome to the new version of SP Membership.</div>

<p>We hope you enjoy the new features and re-designed user interface.</p>
<p><a href = "https://sportingpulse.zendesk.com/entries/22560022-sp-membership-membership-version-6" target = "_new">Learn about this new change</a></p>

 <p class="pc-disclaim">Until Wednesday 20th Februrary you will be able to access the old version via the link 'USE OLD SP MEMBERSHIP' on the navigation bar.</p>

<div class="swm-old-image"><img src="images/old-swm.jpg"></div>

<div style="float:right;">
	<input type="button" value="Close" class = "button generic-button" onclick="self.parent.tb_remove();">
</div>
</div>

</body>
</html>
