<html>
<head>
	  <link rel="stylesheet" type="text/css" href="css/style.css">
		<style>
			#TB_title {font-weight:bold;}
		</style>
</head>
<body style="padding:25px 25px 0 25px;font-size:12px;">
<p>Notice: You are now able to take player registrations and payments online via your website using PayMySport.</p>

<br>
<form action="" method="GET" target="pmspage">

<div style="float:left;">
	<input type="button" onclick="window.open('http://www.paymysport.com.au/index.php?id=54','pmsinfo');" value="More Information" style="background-color:#1f497d;color:#fff;border:#152d4b;padding:4px;width:140px;">
</div>
<div style="float:right;">
	<input type="button" value="Ignore" style="background-color:#1f497d;color:#fff;border:#152d4b;padding:4px;width:140px;" onclick="self.parent.tb_remove();">
</div>

</form>

</body>
</html>
