<html>
<body>
<h2>Please confirm your email address</h2>

 
<p>Thank you for registering your email address with PayMySport.</p>


<p>To confirm that you are the holder of this email account, please click on the link below; </p>

 
<p><a href="[% LinkAddress %]">[% LinkAddress %]</a></p>

 
<p>If you have queries, please contact us at <a href="mailto:support@sportingpulse.com">support@sportingpulse.com</a>.</p>

 
<div style="text-align:center;"><a href="http://www.sportingpulse.com">www.sportingpulse.com</a></div>

</body>
</html>
