<p>Dear Member,
</p>
<p>You have requested a password reminder for [% AssocName %].
</p>

<p>
	The following usernames and passwords are assigned to this email address:</p>

[% FOREACH user IN UserList %]
	Member Name : [% user.MemberName %]<br>
	Username : [% user.Username %]<br>
	Password : [% user.Password %]<br>
	 ---------------<br>

[% END %]


