<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <title>[% Title %]</title>
  <link rel="stylesheet" type="text/css" href="css/[% CSS %]">
</head>
<body>
<div class="header"><img src="images/[% Header %]" alt=""></div>
<div id="content">[% content %]</div>
<div class="copyright">[% Copyright %]</div>
</body>
</html>

