<!DOCTYPE HTML>
<html>
    <head>
       <script>
        var _prum = [['id', '53101fc1abe53d5827000000'],
             ['mark', 'firstbyte', (new Date()).getTime()]];
        (function() {
            var s = document.getElementsByTagName('script')[0]
            , p = document.createElement('script');
            p.async = 'async';
            p.src = '//rum-static.pingdom.net/prum.min.js';
            s.parentNode.insertBefore(p, s);
         })();
         </script>
         <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
         <link rel="shortcut icon" type="image/x-icon" href="images/FSP.ico">
         <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
         <script src = "//ajax.aspnetcdn.com/ajax/jquery.validate/1.12.0/jquery.validate.min.js"></script>
		<link rel="stylesheet" type="text/css" href="css/spfont.css"> 
        <link rel="stylesheet" type="text/css" href="css/regoform_2014.css">
   		<link href="css/regoform/blue.css" rel="stylesheet">

        <script type="text/javascript" src="js/regoform.js"></script>

		<script src="js/icheck.js"></script>
		<script type="text/javascript">
    		jQuery(document).ready(function(){
	            //jQuery("input").iCheck({
				//    checkboxClass: "icheckbox_flat-blue",
				//	radioClass: "iradio_flat-blue"
				//});
			});
		</script>
        [% head %]
        <title>[% title %]</title>
    </head>
    <body>
        <div id="pagewrapper">
            <div id="pageheader">
                [% page_header %]
            </div>
            <div id="pageholder">
                <div id="content">
                    [% page_content %]
                </div> <!-- End Content --> 
                <div id="pagefooter">
                    [% page_footer %]
                </div>
            </div> <!-- End Page Holder --> 
        </div> <!-- End Page Wrapper --> 
        [% page_end %]
    </body>
</html>
