
<p>Link your membership record to your SP Passport</p>

<div>
	Legal first name: [% FirstName %]<br>
	Family name: [% FamilyName %]<br>
	DOB: [% DOB %]<br>
	Gender: [% Gender %]<br>

	<div>
		<a href = "[% PassportLinkURL %]">Link Member</a>
	</div>
</div>

