[% IF Errors != '' %]
<p>
 <h4>Your password modification was unsuccessful due to the following reason(s): </h4>
 [% Errors %]
</p>
[% ELSE %] 
<p>
 <h4>Your password has successfully been updated. </h4>
 <span class="button special-button"><a href="../index.cgi">Login</a></span>
</p>
[% END %]