<p>

<br />Hi,<br /> 
	You have requested for a new password. <br />
	Please click on the link below to create a new password for your SportingPulse account.
	<br />
	<a href="[% BaseURL %]/user/modifypassword.cgi?url_key=[% Data.url_param %]">
	[% BaseURL %]/user/modifypassword.cgi?url_key=[% Data.url_param %]
	</a>

</p>