<div style="padding:20px;">
<div class="pageHeading">Your Data has been sent</div>
<p>Your data export has been processed and emailed to <b>[% Email %]</b>.

<p>The attached file is a tab-delimited text file that can be opened in most spreadsheet applications (including Microsoft Excel).</p>

<p>The data contains <b>[% RecordCount %]</b> rows.

</div>
